<footer class="post-info">
    <abbr class="published" title="{{ article.date.isoformat() }}">
        <i class="fa fa-calendar fa-1x"></i> {{ article.locale_date }}

        {% if article.authors %}
            <i class="fa fa-user"></i>
            {% for author in article.authors %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
        {% endif %}
        <i class="fa fa-archive"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </abbr>
    {% if article.modified %}
        <br/>
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
            <i class="fa fa-edit fa-1x"></i> {{ article.locale_modified }}
        </abbr>
    {% endif %}

    {% include 'taglist.html' %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
